#!/usr/bin/env bash

# Always list contents after a directory change
function cd() {
  builtin cd "$@" && ls -la;
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

function gpush() {
  git push origin $(git branch --show)
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

start_nvim_for_claude() {
    CURRENT_DIR=$(basename "$PWD")
    SOCKET="/tmp/nvim-${CURRENT_DIR}"
    nvim --listen "$SOCKET"
}

start_claude() {
    local socket_path="/tmp/nvim-$(basename "$PWD")"
    dev claude -- "my vim/neovim is listening at the socket $socket_path"
}

chpwd() {
  # Update Ghostty's directory tracking
  printf "\033]7;file://%s%s\033\\" "$(hostname)" "$(pwd)"
}

