[alias]
  amend = commit --amend --reuse-message=HEAD
  commend = commit --amend --no-edit
  ll = !git --no-pager log --graph --all --decorate --pretty=format:'%C(auto)%h%d  %ad %C(red bold)(%ar%C(red bold))%Creset  %Creset%C(magenta)%an%Creset<%ae>  %C(white bold)%<(80,trunc)%s' --date=iso
  l = !git --no-pager log -n 40 --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue bold)<%an>%Creset'
  s = status -s
  tags = tag -l
  branches = branch -av
  remotes = remote -v
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  forcepush = push --force-with-lease
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[apply]
  whitespace = fix
[core]
  eol = native
  autocrlf = input
  safecrlf = true
  ignorecase = false
  trustctime = false
  precomposeunicode = false
  editor = vim
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  renames = copies
  algorithm = patience
[help]
  autocorrect = 0
[pull]
  ff = only
[rerere]
  enabled = true
  autoupdate = true
[user]
  name = Kristian Ott
